<div class="global-jumbotron" id="poems_dashboard">
	<% if current_page?(user_poems_path(current_user)) %>
		<%= render partial: 'layouts/forms/global_one_centered_half_width_button_only_form', locals: { action: new_user_poem_path(params[:user_id]), method: :get, content: "#{fa_icon("pencil-square-o")} New Poem" } %>
	<% end %>
	<div id="poems_index">
		<% poems.each do |poem| %>
			<%= render partial: 'poems/indexable_poem_template', locals: { poem: poem } %>
		<% end %>
	</div>
	<div class="row global-divider-bottom"></div>
	<% if current_page?(user_poems_path(current_user)) %>
		<%= render partial: 'layouts/forms/global_one_centered_half_width_button_only_form', locals: { action: new_user_poem_path(params[:user_id]), method: :get, content: "#{fa_icon("pencil-square-o")} New Poem" } %>
	<% end %>
</div>