<h1 id="aqm_title"><b><%= aqm_page_title %></b></h1>
<div class="jumbotron" id="aqm_quote_jumbotron">
  <div class="row">
    <div class="col-xs-6">
     <button class="btn btn-default aqm-btn" id="aqm_tweet_quote">
        <a id="aqm_tweet_link" href="https://twitter.com/intent/tweet?&text=Revenge is a dish best served cold. — Old Klingon Proverb" target="_blank">
          <i class="fa fa-twitter"></i> Tweet
        </a>

      </button>
    </div>
    <div class="col-xs-6">
      <button class="btn btn-default aqm-btn" id="aqm_get_quote">
        <i class="fa fa-refresh"></i> Quote</button>
    </div>
  </div>
  <blockquote id="aqm_quote_block">
    <div id="aqm_quote_edit"> <i class="fa fa-quote-left"></i> Revenge is a dish best served cold. <i class="fa fa-quote-right"></i><br><br>
    </div>
    <footer id="aqm_quote_footer">Old Klingon Proverb</footer>
  </blockquote>
</div>
