<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-xs-4">
			IPSUM LOREM
			</div>
			<div class="col-xs-4">
<%= link_to "Sign in with Facebook",user_facebook_omniauth_authorize_path %>
			</div>
			<div class="col-xs-4">
			<%= fa_stacked_icon "dollar inverse", base: "circle", class: "fa-5x" %>
			</div>
		</div>
	</div>
</div>