  <div class=".form-check">
    <%= model.check_box attr_sym, class: "form-check-input global-form-checkbox" %>
    <%= model.label attr_sym, class: "form-check-label" do %>
      <span></span>Remember me<br>
    <% end %>
  </div>