<script id="_indexable_user_template">
	<%= render partial: 'users/indexable_user_template', locals: { user: User.new(id: 0, created_at: DateTime.new(2000, 1, 1)) } %>
</script>
<div class="global-jumbotron" id="users_jumbotron">
	<%= render partial: 'users/users_nav' %>
	<div id="users_index">
		<% users.each do |user| %>
			<%= render partial: 'users/indexable_user_template', locals: { user: user } %>
		<% end %>
	</div>
	<%= render partial: 'users/users_nav' %>
	<div class="row global-divider-bottom">
	</div>
</div>