<div class="global-jumbotron" id="users_jumbotron">
	<%= render partial: 'users/users_nav' %>
	<div id="users_index">
		<% users.each do |user| %>
			<%= render partial: 'users/indexable_user_template', locals: { user: user } %>
		<% end %>
	</div>
	<%= render partial: 'users/users_nav' %>
	<div class="row global-divider-bottom">
	</div>
</div>