$global-top-level-background-color: #400125;
$global-middle-level-background-color: #66023C;
$global-bottom-level-background-color: #8D2963;

$global-border-color: #B8860B;

$global-text-color: #dda10d;

$global-link-color: #F8C64B;
$global-visited-link-color: #78764B;
$global-hover-link-color: #F8C68B;
$global-active-link-color: #F8F69B;

$navbar-hover-link-color: #f0ae0e;