<div class="row">
	<div class="col-xs-3">
	</div>
	<div class="col-xs-6">
		<%= form_tag new_user_poem_commentary_path(params[:user_id], params[:poem_id]), method: :get do %>
		<%= button_tag class: "btn global-form-btn" do %>
			<%= fa_icon("pencil-square-o") %> Comment
		<% end %>
	<% end %>
	</div>
	<div class="col-xs-3">
	</div>
</div>