@media(min-width:90em){.machineBtn{width: 150px; font-size: 200%} #title{font-size: 400%;} #quoteEdit{font-size: 320%;} #quoteFtr{font-size: 220%;}}

@media(max-width:89.999em) and (min-width:60em){.machineBtn{width: 150px; font-size: 200%} #title{font-size: 350%;} #quoteEdit{font-size: 250%;} #quoteFtr{font-size: 180%;}}

@media(max-width:59.999em) and (min-width:30em){.machineBtn{width: 150px; font-size: 200%} #title{font-size: 250%;} #quoteEdit{font-size: 200%;} #quoteFtr{font-size: 160%;}}

@media(max-width:29.999em) and (min-width:20em){.machineBtn{width: 80px; font-size: 100%} #title{font-size: 160%;} #quoteEdit{font-size: 100%;} #quoteFtr{font-size: 80%;}}

#title {
  display: inline-block;
  text-align: center;
  color: #000000;
  border-bottom: 2px solid #000000;
  margin-top: 5vh;
  margin-bottom: 5vh;
  transition: all 0.5s ease-in-out;
}

#quoteJmbtrn {
  @include global-shadow;
  text-align: center;
  width: 90vw;
  height: 75vh;
  background-color: $aqm-default-background-color;
  color: $aqm-default-text-color;
  margin-left: auto;
  margin-right: auto;
  padding: 5vh;
}

#quoteBlock{
  @include center-block;
  text-align: left;
  border-color: $aqm-default-text-color;
  margin-top: 5vh;
}

%aqm-quote-btn {
  display: block;
  color: $aqm-default-background-color;
  background-color: $aqm-default-text-color;
  border-color: $aqm-default-text-color;
}

#tweetQuote {
  @extend %aqm-quote-btn;
  margin-right:auto;
  a {
    color: $aqm-default-background-color;
    text-decoration: none;
  }
}

#getQuote {
  @extend %aqm-quote-btn;
  margin-left:auto;
}

#quoteFtr {
  text-align: right;
  color: $aqm-default-text-color;
}