@include import-global-font;

a {

  &:link {
    color: $global-link-color;
  }

  &:visited {
    color: $global-visited-link-color;
  }

  &:hover {
    color: $global-hover-link-color;
  }

  &:active {
    color: $global-active-link-color;
  }

}

body {
  @include global-font-family;
  background: $global-background-image;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  margin-top: 80px;
  margin-bottom: 30px;
  color: $global-text-color;
}

ul {
    list-style-type: "⚔ ";
}