<div class="global-jumbotron" id="global_title">
	<% if local_assigns.has_key?(:model) %>
		<%= raw(render_title(model)) + raw(render_tagline(model)) %>
	<% else %>
		<%= raw(render_title) + raw(render_tagline) %>
	<% end %>
</div>