<div class="global-jumbotron" id="global_title">
	<%= local_assigns.has_key?(:model) ? raw(render_page_title(model) + render_page_tagline(model)) : raw(render_page_title + render_page_tagline) %>
</div>